<% if (item.link){ %>
  <% if (item.title){ %>
    <h1 class="title"><a href="<%- item.link %>"><%= item.title %></a></h1>
  <% } else { %>
    <h1 class="title"><a href="<%- item.link %>"><%= item.link %></a></h1>
  <% } %>
<% } else { %>
  <% if (index){ %>
    <h1 class="title"><a href="<%- config.root %><%- item.path %>"><%= item.title %></a></h1>
  <% } else if (page.layout === 'resume') { %>
    <h1 class="title"><%= item.title %> <button class="print-button" onclick="window.print()">🖨️ 打印</button></h1>
  <% } else { %>
    <h1 class="title"><%= item.title %></h1>
  <% } %>
<% } %>