<%- partial('_partial/head') %>

<body>
  <header id="header" class="inner"><%- partial('_partial/header') %></header>
  <div id="content" class="inner">
    <div><%- body %></div>
  </div>
  <aside id="sidebar"><%- partial('_partial/sidebar', {}, {cache: true}) %></aside>
  <div class="clearfix"></div>
  <footer id="footer" class="inner"><%- partial('_partial/footer') %></footer>
  <%- partial('_partial/after_footer') %>
</body>
</html>
