<div class="widget footer">
  <% if (config.author_url){ %><span>&copy;2017-<%= new Date().getFullYear() %> <a href="<%= config.author_url %>" ><%= config.author %></a></span>
  <% } else if (config.author) { %>
  <span>&copy;2017-<%= new Date().getFullYear() %> <%= config.author %></span>
  <% } else { %>
  <span>&copy; 2017-<%= new Date().getFullYear() %> <%= config.title %></span>
  <% } %>
  </br>
  <span>Powered by <a href="http://hexo.io" >Hexo</a></span>
  </br>
    <span>Theme by <a href="https://github.com/thesomeexp/hexo-theme-light-simple" >hexo-theme-light-simple</a></span>
</div>
