<article class="<%= item.layout %>">
    <div class="post-content">
        <header>
            <%- partial('post/title') %>
            <% if (index){ %>
                <time itemprop="datePublished"
                      datetime="<%= item.date.toDate().toISOString() %>"><%= item.date.format(config.date_format) %></time>
            <% } else if(  item.layout != 'page') { %>
                <time itemprop="datePublished"
                      datetime="<%= item.date.toDate().toISOString() %>"><%= item.date.format(config.date_format) %></time>
                <span style="color: rgb(153, 153, 153);">-</span>
                <time itemprop="dateModified"
                      updated="<%= item.updated.toDate().toISOString() %>"><%= item.updated.format(config.date_format) %></time>
            <% } %>
        </header>
        <div class="entry">
            <% if (item.excerpt && index){ %>
                <%- item.excerpt %>
            <% } else { %>
                <%- item.content %>
            <% } %>
        </div>
        <% if (index){ %>

        <% } else { %>
            <% if (item.original){ %>
                <footer>
                    <%- partial('post/copyright') %>
                </footer>
            <% } %>

            <footer>
                <%- partial('post/tag') %>
            </footer>
        <% } %>
    </div>
</article>